# Configuración de MongoDB
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_DATABASE=product-db
MONGO_USERNAME=userMongoDb
MONGO_PASSWORD=passwordMongoDb
MONGO_AUTH_DB=admin

# MySql Config
MYSQL_ROOT_PASSWORD=PasswordDB
MYSQL_DATABASE=inventory-db
MYSQL_USER=userMySql
MYSQL_PASSWORD=passwordMySql

# Postgres
POSTGRES_USER=userDB
POSTGRES_PASSWORD=PasswordPostgresDB
POSTGRES_DB=order-db

# Configuración del Servidor
SERVER_PORT_PRODUCTS=8080
SERVER_PORT_ORDER=8081
SERVER_PORT_INVENTORY=8082

# export $(cat .env | grep -v '#' | xargs) && ./mvnw spring-boot:run